/tests
*.test.ts
test.*
dev-test.ts

/docs
*.md~
*.log

.env
.env.*
node_modules
dist/**/*.map

.vscode
.idea

coverage
.git
.github
tsconfig.json
jest.config.*
package-lock.json
yarn.lock

*.swp
*.tmp

/src
*dev-test.ts
